In [5]:
#pandas.DataFrame(data,index,coloum , datatype, copy)
#DataFrame using lists
import pandas as pd
data=[['Alex',10] ,['bob',12],['nikhil',13]]
df=pd.DataFrame(data,columns=['name','number'],dtype=float)
print(df)

     name  number
0    Alex    10.0
1     bob    12.0
2  nikhil    13.0

In [12]:
#creating a DataFrame Using arrays or lists
#error
data2 = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
dff=DataFrame(data2)
print(dff)

NameError: name 'DataFrame' is not defined

In [15]:
#datafrmae using lists of dicts
data3=[{'a':1,'b':2},{'a':2,'b':3}]
df3=pd.DataFrame(data3)
print(df3)

   a  b
0  1  2
1  2  3

In [21]:
#creating a df using two series

d={'one':pd.Series([1,2,3],index=[1,2,4]),'two':pd.Series([4,5,6])}
df4=pd.DataFrame(d)
print(df4)

   one  two
0  NaN  4.0
1  1.0  5.0
2  2.0  6.0
4  3.0  NaN

In [22]:
print(one)

0    1
1    2
2    3
dtype: int64

In [41]:
#adding a datafrmae using series and adding columns
f1={'one':pd.Series([1,2,3,4,5],index=[1,2,3,4,5]),
    'two': pd.Series([1,2,3,4,5,56])}
df5=pd.DataFrame(f1)
print(df5)
df5['three']=pd.Series([5,6,8,9,0], index=[1,2,3,4,5])
print(df5)
df5['four']=df5['one']+df5['three']
print(df5)

   one  two
0  NaN    1
1  1.0    2
2  2.0    3
3  3.0    4
4  4.0    5
5  5.0   56
   one  two  three
0  NaN    1    NaN
1  1.0    2    5.0
2  2.0    3    6.0
3  3.0    4    8.0
4  4.0    5    9.0
5  5.0   56    0.0
   one  two  three  four
0  NaN    1    NaN   NaN
1  1.0    2    5.0   6.0
2  2.0    3    6.0   8.0
3  3.0    4    8.0  11.0
4  4.0    5    9.0  13.0
5  5.0   56    0.0   5.0

In [55]:
#deleting a column using del and pop
d3 = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']), 
     'three' : pd.Series([10,20,30], index=['a','b','c'])}
df6=pd.DataFrame(d3)
del df6['one']
print(df6)
df6.pop('two')
print(df6)

   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
   three
a   10.0
b   20.0
c   30.0
d    NaN

In [69]:

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(df.loc['b'])

one    2.0
two    2.0
Name: b, dtype: float64